## Таратин Артём Андреевич ПМ22-1 2 Вариант

In [217]:
from functools import reduce
import numpy as np
import random

Задача 1:
Создать класс «Продукт», который будет содержать следующие атрибуты: название продукта, цена, количество на складе. 
Класс должен иметь методы:
get_name() — возвращает название продукта;
get_price() — возвращает цену продукта;
get_quantity() — возвращает количество продукта на складе;
add_quantity(amount) — увеличивает количество продукта на заданное значение;
remove_quantity(amount) — уменьшает количество продукта на заданное значение.


Задача 2:
Создайте класс ТОВАР, который будет содержать информацию о товаре (название, цена, количество на складе). У класса должен быть метод, позволяющий вывести на экран информацию о товаре, а также метод, позволяющий определить, является ли данный товар искомым. Создайте дочерние классы ОДЕЖДА (размер), ЭЛЕКТРОНИКА (гарантия) со своими методами вывода информации на экран. Создайте список из N товаров, выведите полную информацию из списка, а также организуйте поиск товаров по названию. 


Задача 3:
Напишите функцию, которая принимает список чисел и возвращает список чисел, которые больше среднего значения списка.
Напишите функцию, которая принимает список строк и возвращает наиболее часто встречающуюся строку в списке.

## №1

In [218]:
class product(object):
    def __init__(self, name, cost, quant):
        self.name = name
        self.cost = int(cost)
        self.quant = int(quant)
    
    def get_name(self):
        return self.name
    
    def get_price(self):
        return self.cost
    
    def get_quantity(self):
        return self.quant
    
    def add_quantity(self, amount):
        if int(amount) > 0:
            self.quant += int(amount)
            
    def remove_quantity(self, amount):
        if amount > 0 and self.quant - amount >= 0:
            self.quant -= amount

In [219]:
p1 = product('moloko', 42, 19)

In [220]:
p1.get_name(), p1.get_price(), p1.get_quantity()

('moloko', 42, 19)

In [221]:
p1.add_quantity(5)
p1.get_quantity()

24

In [222]:
p1.remove_quantity(5)
p1.get_quantity()

19

## №2

In [223]:
class tovar(object):
    def __init__(self, name, cost, quant):
        self.name = name
        self.cost = int(cost)
        self.quant = int(quant)
        
    def info(self):
        return f'Name: {self.name}, Cost: {self.cost}, Quantity: {self.quant}'
    
    def is_equal(self, name='', cost='', quant=''):
        if (name=='' or self.name==name) and (cost=='' or self.cost==cost) and (quant=='' or self.quant==quant):
            return 1
        return 0

In [224]:
class clothes(tovar):
    def __init__(self, name, cost, quant, size):
        super().__init__(name, cost, quant)
        self.size = size
        
    def info(self):
        return f'{super().info()}, Size: {self.size}'
    
class technic(tovar):
    def __init__(self, name, cost, quant, garant):
        super().__init__(name, cost, quant)
        self.garant = garant
        
    def info(self):
        return f'{super().info()}, Garantie: {self.garant}'

In [225]:
c = tovar('Chburek', 14, 59)
c.info()

'Name: Chburek, Cost: 14, Quantity: 59'

In [226]:
c.is_equal(name='Chburek', cost=14), c.is_equal(name='Chburek', cost=44)

(1, 0)

In [227]:
a = clothes('Rubashka', 1400, 33, 44)
b = technic('Monitor', 14500, 5, 365)

a.info(), b.info()

('Name: Rubashka, Cost: 1400, Quantity: 33, Size: 44',
 'Name: Monitor, Cost: 14500, Quantity: 5, Garantie: 365')

In [228]:
ls = [a, b, c] # экзмпляры класса
ls

[<__main__.clothes at 0x7f8718032460>,
 <__main__.technic at 0x7f872828e730>,
 <__main__.tovar at 0x7f872828e610>]

In [229]:
list(map(lambda x: x.info(), ls)) # вывод информации

['Name: Rubashka, Cost: 1400, Quantity: 33, Size: 44',
 'Name: Monitor, Cost: 14500, Quantity: 5, Garantie: 365',
 'Name: Chburek, Cost: 14, Quantity: 59']

In [230]:
f = lambda name: list(filter(lambda x: x.name == name, ls))
f('Rubashka'), f('Rubashka')[0].info() # сортировка с возвращением эксемпляров классов

([<__main__.clothes at 0x7f8718032460>],
 'Name: Rubashka, Cost: 1400, Quantity: 33, Size: 44')

## №3.1

In [231]:
n = np.random.randint(0, 100, 10)
n, n.mean()

(array([76, 44,  5, 20, 91, 94, 84, 15, 91, 34]), 55.4)

In [232]:
f = lambda n: list(filter(lambda x: x > n.mean(), n))
f(n)

[76, 91, 94, 84, 91]

## №3.2

In [259]:
sq = ['1', 'dqqwdq', '1', 'qwewrty', 'dqqwdq', 'qwqqqqs', 'qwewrty', '1', '23']
sq

['1', 'dqqwdq', '1', 'qwewrty', 'dqqwdq', 'qwqqqqs', 'qwewrty', '1', '23']

In [260]:
f = lambda sp: list(map(lambda x: sp.count(x), sp))
find = lambda sp: sp[f(sp).index(max(f(sp)))]
find(sq)

'1'